<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Approval prediction</title>
</head>
<body>
    <h1>Loan Approval Prediction</h1>
    <form action="/predict" method="post">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>

        <label for="income">Income:</label>
        <input type="number" id="income" name="income" required><br><br>

        <label for="loanamount">Loan Amount:</label>
        <input type="number" id="loanamount" name="loanamount" required><br><br>

        <label for="creditscore">Credit Score:</label>
        <input type="number" id="creditscore" name="creditscore" required><br><br>

        <button type="submit">Predict Loan Status</button>
    </form>

    {% if prediction_text %}
        <p>{{ prediction_text }}</p>
    {% endif %}
</body>
</html>